### 5 Number Summary
##### Step 1:
Import all required libraries to do the work.

In [1]:
import pandas as pd # pandas trabalha com datasets
import numpy as np
import statistics as stats
import matplotlib.pyplot as plt
import seaborn as sns

### Initial Observation

In [15]:
# Initialise a variable to store the  dataset
# to  access a function from a library
# we need to call on the library aronym: 'pd'

dataset = pd.read_csv("50_Startups.csv")

#### Observes the first 5 records

In [3]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  191792.06
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

### terminating and no terminating
###### Terminsting Float

Decimal place integer that have leading zeros 65.3480000000 => 65.348

##### non-Terminating float

Decimal place integer that not have trailing zeros, de number is recursive 65.645343564575463634345

Nonterminating - 32 bits

32bits values they cn only contain 32bits of information thus losing some value (precision) at the end, 65.645343564575

In [4]:
#To identify the data types contained in our dataset
#we call on the ./info()

dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

#### The 5 Number Summary

We need to understand de data distribution
We start by getting all possible statitical operations, this will help us  to be better equipped to begin the data exploration with some contextual backkground

In [5]:
dataset.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112003.243800
std     45902.256482    28017.802755    122290.310726   40287.142691
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  191792.060000

## Create Functions
 
 Write functions  that give us insight using the 5 number summary
 
 In order to crete functions we  have to follow a number of steps
 
### Step 1: Instanciate a function

key word 'def' followed by the function name, () ad :

### Step 2:  Input Variables

Pass in the dataset variable to operate on the present values in valuable

i.e functionName(inputVariable)

### Step 3: Create an Instruction Manual (Logic)

The set of instructions ill define thee behaviour of our function and  it's aplicability to certas types of data

i.e def functionName(inputVariable):
            functionLogic Here

### Step 4:  return the output to the user
Using "Return" key word

### Mean

mean = summation Xi / N

In [6]:
def calc_mean(variable):
    #You should implemet some security logic or error mitigation
    
    #Verifica se a array está vazia
    if len(variable)  == 0:
        #check the lenght of the data
        return None
    
    #Calculo de mean = Soma todos os valores da array e divide pela número de elementos
    mean = sum(variable) / len(variable)
    return mean

In [7]:
dataset.head(1)

   R&D Spend  Administration  Marketing Spend     State     Profit
0   165349.2        136897.8         471784.1  New York  191792.06

In [8]:
calc_mean(dataset["Profit"])

112003.24380000001

### Median
the middle value in an array
If the array is odd return the middle value

In [9]:
def calc_median(variable):
    #You should implemet some security logic or error mitigation
    
    #Verifica se a array está vazia
    if len(variable)  == 0:
        #check the lenght of the data
        return None
 
    #Coloca os valores em ordem crescente
    variable = variable.sort_values(ignore_index=True)
    
    n = len(variable)
    
    # usar o modulo para checar se é par ou impar
    if n % 2 == 0:
        # a condição é se o comprimento da array retornada 
        
        mid1 = variable[n // 2 - 1]
        mid2 = variable[n // 2]
        # calcular o median
        median = ((mid1 + mid2) / 2)
        return median
    # Senão retorna o valor  
    else:
        median = variable[n // 2]
        return median

In [10]:
calc_median(dataset["Profit"])

107978.19

In [11]:
def calc_mode(variable):
    #You should implemet some security logic or error mitigation
    
    if len(variable)  == 0:
        #check the lenght of the data
        return None
        
    #Contar quantas vezes algo existe
    #Parapegar o numero de ocorrencias, temos que usar um Dicionario
    #Dicionarios permitem mapearmos o par key:value
    num_freq = {}
    
    #Interage atraves de todos os dados e adiciona o numer de vezes que cada numero ocorre
    #No Dicionario num_freq sua chave é o valor de variable e seu valor sera a frequencia que a chave aparece
    for num in variable:
        #precisa validar o numero em cada interação
        #Checa quantas vezes o valor esta presenta na entrada de uma variavel
        #Nós precisamos interagir e validar cada valor separadamente
        if num in num_freq:
            
            #Se o numero da entrada da variável existe no dicionário
            #Adicionamos 1 ao seu contador
            num_freq[num] += 1
            
            #Senao criamos uma nova entrada no dicionario se o número nâo exitir no dicionário
        else:
            num_freq[num] = 1
            
    #Apos interagir com todos dados da variavel estabelecemos um dicionario
    #O Dicionario representa a frequencia que cada entrada (valor da variavel) aparece na array
    #Temos que identificar a frequencia maxima que um numero aparece
    max_count = max(num_freq.values())
    
    #Precisamos retornar a chave da contagem maxima
    #chave  do for contendo a contagem do numero mais frequente
    mode = [num for num, count in num_freq.items() if count == max_count]
    
    #se a distribuição conter 2 ou mais modes
    #Retormar para o usuario
    if len(mode) == len(variable):
        return "No mode avaliable"
    return mode

In [16]:
calc_mode(dataset["Profit"])

'No mode avaliable'